# Pull in Efinix FTDI and BSCAN-tunnel setup
source [find /home/olle/efinity_p2/BRAM/embedded_sw/micro_risc_v1/bsp/efinix/EfxSapphireSoc/openocd/ftdi.cfg]

# Override USB selection to your FT2232H dongle
ftdi vid_pid 0x0403 0x6010
ftdi device_desc "Dual RS232-HS"
ftdi channel 1
adapter speed 1000

# RISC-V std debug
set _CPUTAPID 0x00210a79
set LEGACY_IDE 0
set STANDARD_DEBUG 1
